In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import time
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint

In [2]:
# Retrieve data from 2016 Electoral Votes CSV file
electoral_path = "C:/Users/palan/NW-Data-Science/Project-1/Electoral Votes/2016 Election - Electoral Votes.csv"
electoral_df = pd.read_csv(electoral_path)

# add year column for later merging
electoral_df['Year'] = 2016

electoral_df.head(n=5)

   State ID                 State  Electoral Votes  Vote Weight Turnout  Year
0         1               Wyoming                3         2.97  59.40%  2016
1         2  District of Columbia                3         2.45  60.20%  2016
2         3               Vermont                3         2.42  63.50%  2016
3         4                Alaska                3         2.39  61.30%  2016
4         5                Hawaii                4         2.37  41.70%  2016

In [3]:
# Retrieve data from Presidental Election CSV file
election_path = "C:/Users/palan/NW-Data-Science/Project-1/Electoral Votes/1976-2016-president.csv"
election_df = pd.read_csv(election_path)

# update data frame with only states, year, and total votes
total_votes_df = election_df[['year','state','totalvotes']]
total_votes_df = total_votes_df.drop_duplicates()

total_votes_df.head(n = 5)

    year       state  totalvotes
0   1976     Alabama     1182850
7   1976      Alaska      123574
11  1976     Arizona      742719
19  1976    Arkansas      767535
23  1976  California     7803770

In [10]:
# merge data frames: electoral votes with total votes by states
merged_df = electoral_df.merge(total_votes_df, how='inner', left_on=["Year", "State"], right_on=["year","state"])

# drop redundant state column
merged_df = merged_df.drop(columns=['state', 'year', 'Vote Weight'])

merged_df.head(n=5)

   State ID                 State  Electoral Votes Turnout  Year  totalvotes
0         1               Wyoming                3  59.40%  2016      258788
1         2  District of Columbia                3  60.20%  2016      312575
2         3               Vermont                3  63.50%  2016      320467
3         4                Alaska                3  61.30%  2016      318608
4         5                Hawaii                4  41.70%  2016      437664

In [11]:
turnout_list = []

# loop through rows in turnout column, remove % sign, and convert string to float
for items in merged_df['Turnout']:
    
    new_percent = float(items[:-1])
    turnout_list.append(new_percent)

# convert list to series
turnout_series = pd.Series(turnout_list, name='percent', index=merged_df.index)
merged_df['Turnout'].update(turnout_series)

# add column: total eligible voting population
merged_df['Eligible Voters'] = merged_df['totalvotes'] / (merged_df['Turnout'] / 100)

# set baseline electoral vote share per regular vote for entire US (2016 election)
total_votes_2016 = merged_df['totalvotes'].sum()
total_electoral_2016 = merged_df['Electoral Votes'].sum()
baseline_worth = total_electoral_2016 / total_votes_2016
print(f'\nBaseline worth of a vote (Total Electoral Votes / Total Popular Vote) in 2016: {baseline_worth}\n')

merged_df.head(n=5)

# calculate 

# add column:

Baseline worth of a vote (Total Electoral Votes / Total Popular Vote) in 2016: 3.933116922712944e-06

,State ID,State,Electoral Votes,Turnout,Year,totalvotes,Eligible Voters
0,1,Wyoming,3,59.4,2016,258788,435670
1,2,District of Columbia,3,60.2,2016,312575,519228
2,3,Vermont,3,63.5,2016,320467,504672
3,4,Alaska,3,61.3,2016,318608,519752
4,5,Hawaii,4,41.7,2016,437664,1.04955e+06