In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import time
import scipy.stats as st
from scipy.stats import linregress
from pprint import pprint

In [2]:
# Retrieve data from 2016 Electoral Votes CSV file
electoral_path = "C:/Users/palan/NW-Data-Science/Project-1/Electoral Votes/2016 Election - Electoral Votes.csv"
electoral_df = pd.read_csv(electoral_path)

# add year column for later merging
electoral_df['Year'] = 2016

electoral_df.head(n=5)

   State ID                 State  Electoral Votes  Vote Weight Turnout  Year
0         1               Wyoming                3         2.97  59.40%  2016
1         2  District of Columbia                3         2.45  60.20%  2016
2         3               Vermont                3         2.42  63.50%  2016
3         4                Alaska                3         2.39  61.30%  2016
4         5                Hawaii                4         2.37  41.70%  2016

In [3]:
# Retrieve data from Presidental Election CSV file
election_path = "C:/Users/palan/NW-Data-Science/Project-1/Electoral Votes/1976-2016-president.csv"
election_df = pd.read_csv(election_path)

# update data frame with only states, year, and total votes
total_votes_df = election_df[['year','state','totalvotes']]
total_votes_df = total_votes_df.drop_duplicates()

total_votes_df.head(n = 5)

    year       state  totalvotes
0   1976     Alabama     1182850
7   1976      Alaska      123574
11  1976     Arizona      742719
19  1976    Arkansas      767535
23  1976  California     7803770

In [4]:
# merge data frames: electoral votes with total votes by states
merged_df = electoral_df.merge(total_votes_df, how='inner', left_on=["Year", "State"], right_on=["year","state"])

# drop redundant state column
merged_df = merged_df.drop(columns=['state', 'year', 'Vote Weight'])

# initialize list for converting turnout percent to float
turnout_list = []

# loop through rows in turnout column, remove % sign, and convert string to float
for items in merged_df['Turnout']:
    
    new_percent = float(items[:-1]) / 100
    turnout_list.append(new_percent)

# convert list to series
turnout_series = pd.Series(turnout_list, name='percent', index=merged_df.index)
merged_df['Turnout'].update(turnout_series)

# add column: total eligible voting population
merged_df['Eligible Voters'] = merged_df['totalvotes'] / merged_df['Turnout']

# set baseline electoral vote share per regular vote for entire US (2016 election)
total_votes_2016 = merged_df['totalvotes'].sum()
total_electoral_2016 = merged_df['Electoral Votes'].sum()
baseline_worth = total_electoral_2016 / total_votes_2016
print(f'\nBaseline worth of a vote (Total Electoral Votes / Total Popular Vote) in 2016: {baseline_worth}\n')

merged_df.head(n=5)

Baseline worth of a vote (Total Electoral Votes / Total Popular Vote) in 2016: 3.933116922712944e-06

,State ID,State,Electoral Votes,Turnout,Year,totalvotes,Eligible Voters
0,1,Wyoming,3,0.594,2016,258788,435670
1,2,District of Columbia,3,0.602,2016,312575,519228
2,3,Vermont,3,0.635,2016,320467,504672
3,4,Alaska,3,0.613,2016,318608,519752
4,5,Hawaii,4,0.417,2016,437664,1.04955e+06

In [5]:
# calculate vote worth by state & normalize to baseline worth across country
merged_df['Actual Vote Worth'] = (merged_df['Electoral Votes'] / merged_df['totalvotes']) / baseline_worth

# calculate vote worth by eligible voters
merged_df['Elg. Vote Worth'] = (merged_df['Electoral Votes'] / merged_df['Eligible Voters']) / baseline_worth

merged_df.head(n=5)

,State ID,State,Electoral Votes,Turnout,Year,totalvotes,Eligible Voters,Actual Vote Worth,Elg. Vote Worth
0,1,Wyoming,3,0.594,2016,258788,435670,2.947408,1.75076
1,2,District of Columbia,3,0.602,2016,312575,519228,2.440227,1.46902
2,3,Vermont,3,0.635,2016,320467,504672,2.380132,1.51138
3,4,Alaska,3,0.613,2016,318608,519752,2.394020,1.46753
4,5,Hawaii,4,0.417,2016,437664,1.04955e+06,2.323712,0.968988

In [11]:
# Retrieve data from Presidental Election CSV file
geodata_path = "C:/Users/palan/NW-Data-Science/Project-1/Electoral Votes/states lat & long data.csv"
geodata_df = pd.read_csv(geodata_path)

geodata_df.head(n=5)

# merge merged_df with geographic data
new_merged_df = merged_df.merge(geodata_df, how='inner', left_on=["State"], right_on=["name"])

# drop redundant columns
new_merged_df = new_merged_df.drop(columns=['state', 'name'])

new_merged_df

,State ID,State,Electoral Votes,Turnout,Year,totalvotes,Eligible Voters,Actual Vote Worth,Elg. Vote Worth,latitude,longitude
0,1,Wyoming,3,0.594,2016,258788,435670,2.947408,1.75076,43.075968,-107.290284
1,2,District of Columbia,3,0.602,2016,312575,519228,2.440227,1.46902,38.905985,-77.033418
2,3,Vermont,3,0.635,2016,320467,504672,2.380132,1.51138,44.558803,-72.577841
3,4,Alaska,3,0.613,2016,318608,519752,2.394020,1.46753,63.588753,-154.493062
4,5,Hawaii,4,0.417,2016,437664,1.04955e+06,2.323712,0.968988,19.898682,-155.665857
5,6,North Dakota,3,0.591,2016,344360,582673,2.214990,1.30906,47.551493,-101.002012
6,7,Rhode Island,4,0.59,2016,464144,786685,2.191141,1.29277,41.580095,-71.477429
7,8,South Dakota,3,0.585,2016,370093,632638,2.060979,1.20567,43.969515,-99.901813
8,9,West Virginia,5,0.499,2016,713051,1.42896e+06,1.782841,0.889638,38.597626,-80.454903
9,10,Delaware,3,0.637,2016,441590,693234,1.727290,1.10028,38.910832,-75.527670
10,11,New Mexico,5,0.547,2016,798319,1.45945e+06,1.592417,0.871052,34.972730,-105.032363
11,12,Montana,3,0.615,2016,494526,804107,1.542394,0.948572,46.879682,-110.362566
12,13,Nebraska,5,0.624,2016,844227,1.35293e+06,1.505823,0.939634,41.492537,-99.901813
13,14,Idaho,4,0.594,2016,690255,1.16205e+06,1.473376,0.875185,44.068202,-114.742041
14,15,New Hampshire,4,0.715,2016,744296,1.04097e+06,1.366399,0.976975,43.193852,-71.572395
15,16,Maine,4,0.707,2016,771892,1.09179e+06,1.317548,0.931507,45.253783,-69.445469
16,17,Nevada,6,0.571,2016,1125385,1.9709e+06,1.355543,0.774015,38.802610,-116.419389
17,18,Arkansas,6,0.526,2016,1130635,2.1495e+06,1.349249,0.709705,35.201050,-91.831833
18,19,Utah,6,0.568,2016,1131317,1.99176e+06,1.348435,0.765911,39.320980,-111.093731
19,20,Kansas,6,0.573,2016,1184402,2.06702e+06,1.287998,0.738023,39.011902,-98.484246
20,21,Mississippi,6,0.555,2016,1209357,2.17902e+06,1.261420,0.700088,32.354668,-89.398528
21,22,Oklahoma,7,0.52,2016,1452992,2.79422e+06,1.224892,0.636944,35.007752,-97.092877
22,23,Tennessee,11,0.512,2016,2508027,4.89849e+06,1.115125,0.570944,35.517491,-86.580447
23,24,South Carolina,9,0.568,2016,2103027,3.70251e+06,1.088080,0.618029,33.836081,-81.163725
24,25,Arizona,11,0.543,2016,2573165,4.73879e+06,1.086897,0.590185,34.048928,-111.093731
25,26,Connecticut,7,0.639,2016,1644920,2.57421e+06,1.081973,0.691381,41.603221,-73.087749
26,27,Alabama,9,0.589,2016,2123372,3.60505e+06,1.077655,0.634739,32.318231,-86.902298
27,28,Texas,38,0.512,2016,8969226,1.7518e+07,1.077189,0.551521,31.968599,-99.901813
28,29,Kentucky,8,0.587,2016,1924149,3.27794e+06,1.057096,0.620515,37.839333,-84.270018
29,30,Indiana,11,0.563,2016,2734958,4.85783e+06,1.022599,0.575723,40.551217,-85.602364
30,31,Louisiana,8,0.598,2016,2029032,3.39303e+06,1.002453,0.599467,31.244823,-92.145024
31,32,Georgia,16,0.588,2016,4114732,6.99784e+06,0.988648,0.581325,32.157435,-82.907123
32,33,California,55,0.561,2016,14181595,2.52791e+07,0.986054,0.553176,36.778261,-119.417932
33,34,Iowa,6,0.682,2016,1565580,2.29557e+06,0.974404,0.664544,41.878003,-93.097702
34,35,New York,29,0.557,2016,7802084,1.40073e+07,0.945041,0.526388,43.299428,-74.217933
35,36,Washington,12,0.647,2016,3317019,5.12677e+06,0.919806,0.595115,47.751074,-120.740139
36,37,New Jersey,14,0.636,2016,3874046,6.09127e+06,0.918811,0.584364,40.058324,-74.405661
37,38,Illinois,20,0.616,2016,5536424,8.9877e+06,0.918468,0.565776,40.633125,-89.398528
38,39,Maryland,10,0.662,2016,2781446,4.20158e+06,0.914097,0.605133,39.045755,-76.641271
39,40,Missouri,10,0.621,2016,2808605,4.52271e+06,0.905258,0.562165,37.964253,-91.831833
40,41,Oregon,7,0.666,2016,2001336,3.00501e+06,0.889285,0.592264,43.804133,-120.554201
41,42,Minnesota,10,0.741,2016,2944782,3.97406e+06,0.863396,0.639776,46.729553,-94.685900
42,43,Wisconsin,10,0.693,2016,2976150,4.29459e+06,0.854296,0.592027,43.784440,-88.787868
43,44,Michigan,16,0.646,2016,4799284,7.42923e+06,0.847631,0.547569,44.314844,-85.602364
44,45,Massachusetts,11,0.668,2016,3378821,5.05812e+06,0.827734,0.552926,42.407211,-71.382437
45,46,Ohio,18,0.628,2016,5496487,8.75237e+06,0.832627,0.52289,40.417287,-82.907123
46,47,Pennsylvania,20,0.628,2016,6115402,9.7379e+06,0.831511,0.522189,41.203322,-77.194525
47,48,Virginia,13,0.657,2016,3982752,6.06203e+06,0.829895,0.545241,37.431573,-78.656894
48,49,Colorado,9,0.699,2016,2780220,3.97742e+06,0.823051,0.575312,39.550051,-105.782067
49,50,North Carolina,15,0.648,2016,4741564,7.31723e+06,0.804327,0.521204,35.759573,-79.019300
50,51,Florida,29,0.645,2016,9420039,1.46047e+07,0.782724,0.504857,27.664827,-81.515754

In [15]:
import gmaps
import os

# set gmaps api key
api_txt = "C:/Users/palan/NW-Data-Science/Google Maps API Key.txt"
txt = open(api_txt,"r")

with txt:
    
    gkey = txt.read()

# configuring api key
gmaps.configure(api_key = gkey)

# initiating map
fig = gmaps.figure()

# specifying maps figure parameters
figure_layout = {
    'width': '400 px',
    'width': '300 px',
    'border': '1px solid black',
    'padding': '1px'
                    }


fig = gmaps.figure(layout = figure_layout)

# specifying location & weight values for heat map layer
states = new_merged_df[["latitude", "longitude"]].astype(float)
vote_weight = new_merged_df['Actual Vote Worth'].astype(float) * 50

heat_layer = gmaps.heatmap_layer(states, weights = vote_weight, 
                                 dissipating = False, max_intensity = 100,
                                 point_radius = 2)

# adding heat map layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(border='1px solid black', height='420px', padding='1px', width='300 px'))